
@{
    ViewBag.Title = "Staff";
}

<style>

    .Heading-members {
        margin-left: 95px;
        margin-top: 30px;
        margin-bottom: 30px;
        flex: 1;
        text-align: center;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        color: white;
    }

    .gym-logo-dumbell {
        margin-left: 650px;
        margin-top: 30px;
        align-items: center;
        width: 100px;
        flex: 1;
    }

    .horizontal-line {
        width: 990px;
        color: rgb(199, 47, 47);
        opacity: 5px;
        border-width: 9px;
        margin-top: 29px;
    }

    .grid-1 {
        grid-template-columns: 30px 30px 30px 30px;
        flex: 1;
        display: grid;
        align-items: center;
    }

    .moratwa {
        width: 300px;
        height: 325.595px;
        margin-left: 30px;
    }

    .sfundo {
        width: 330px;
        height: 325.595px;
        margin-left: 352px;
    }

    .akhona {
        width: 270px;
        height: 325.595px;
        margin-left: 700px;
    }

    .Phila {
        width: 300px;
        margin-left: 1000px;
        margin-right: 30px;
    }

    .moratwa-1 {
        margin-left: 30px;
        width: 100px;
        color: white;
    }

    .sfundo-1 {
        margin-left: 352px;
        color: white;
    }

    .akhona-1 {
        margin-left: 700px;
        color: white;
    }

    .Phila-1 {
        margin-left: 1000px;
        color: white;
    }

    .xaba {
        width: 300px;
        height: 325.595px;
        margin-left: 30px;
    }

    .nomfundo {
        width: 330px;
        height: 325.595px;
        margin-left: 352px;
    }

    .scorra {
        width: 290px;
        height: 280px;
        margin-left: 700px;
    }

    .luthando {
        width: 300px;
        margin-left: 1000px;
        margin-right: 30px;
    }

    .xaba-1 {
        margin-left: 30px;
        width: 100px;
        color: white;
    }

    .nomfundo-1 {
        margin-left: 352px;
        color: white;
    }

    .scorra-1 {
        margin-left: 700px;
        color: white;
    }

    .luthando-1 {
        margin-left: 1000px;
        color: white;
    }

    .grid-2 {
        grid-template-columns: 30px 30px;
        flex: 1;
        display: grid;
        align-items: center;
    }

    .phelele {
        width: 300px;
        height: 325.595px;
        margin-left: 375px;
    }

    .shaka {
        width: 300px;
        height: 280px;
        margin-left: 700px;
    }

    .phelele-1 {
        margin-left: 375px;
        color: white;
    }

    .shaka-1 {
        margin-left: 700px;
        color: white;
    }

    .bottomm {
        margin-left: 500px;
        width: 400px;
        margin-top: 90px;
    }

    .TEXT-B {
        margin-left: 550px;
        color: white;
    }

    .TEXT-A {
        color: wheat;
        margin-top: 100px;
        margin-left: 550px;
    }

    .BT {
        margin-left: 550PX;
    }

    .Members {
        margin-left: 10px;
    }

    .last {
        margin-top: 300px;
    }

    .text-black {
        color: white;
    }
    

body {
    background-image: url('@Url.Content("~/image/backg.jpg")');
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>WEB DEVELOPMENT MEMBERS(G.CAFE)</title>
    <link rel="stylesheet" href="Members.css">
</head>
<hr class="horizontal-line">
<div>
    <img src="@Url.Content("~/image/dumbells.png")" alt="Description of the image" class="gym-logo-dumbell" />
</div>
<div>
    <p class="Heading-members">
        WELCOME TO THE WEB DEVELOPMENT TEAM MEMBERS
    </p>
</div>
<div class="grid-1">
    <div><img src="@Url.Content("~/image/Moratwa.jpg")" class="moratwa" /></div>
    <div><img src="@Url.Content("~/image/Sfundo.jpg")" class="sfundo" /></div>
    <div><img src="@Url.Content("~/image/Akhona.jpg")" class="akhona" /></div>
    <div><img src="@Url.Content("~/image/Phila.jpg")" class="Phila" /></div>
</div>
<div class="grid-1">
    <div><p class="moratwa-1">Moratwa Bekwa  <b>(22347141)</b></p></div>
    <div><p class="sfundo-1">Sfundo Hlambisa  <b>(2236897)</b></p></div>
    <div><p class="akhona-1">Asande Dlamini  <b>(22367136)</b></p></div>
    <div><p class="Phila-1">Nokuphila Majola  <b>(22010856)</b></p></div>
</div>
<div class="grid-1" style="margin-top: 40px;">
    <div><img src="@Url.Content("~/image/Myself.jpg")" class="xaba" /></div>
    <div><img src="@Url.Content("~/image/Nomfundo.jpg")" class="nomfundo" /></div>
    <div><img src="@Url.Content("~/image/Scorra.jpg")" class="scorra" /></div>
    <div><img src="@Url.Content("~/image/Luthando.jpg")" class="luthando" /></div>
</div>
<div class="grid-1">
    <div><p class="xaba-1">Syanda Xaba  <b>(22383479)</b></p></div>
    <div><p class="nomfundo-1">Nomfundo Mqadi  <b>(22283074)</b></p></div>
    <div><p class="scorra-1">Aphiwe Nsele  <b>(22364979)</b></p></div>
    <div><p class="luthando-1">Luthando Mthethwa  <b>(22279625)</b></p></div>
</div>
<div class="grid-2" style="margin-top: 40px;">
    <div><img src="@Url.Content("~/image/Sgora.jpg")" class="phelele" /></div>
    <div><img src="@Url.Content("~/image/Shaka.jpg")" class="shaka" /></div>
</div>
<div class="grid-2">
    <div><p class="phelele-1">Kwanele Mbambo  <b>(22341416)</b></p></div>
    <div><p class="shaka-1">Bayanda Khoza  <b>(22363276)</b></p></div>
</div>
<hr class="horizontal-line">
<div>
    <img src="@Url.Content("~/image/Phelele.jpg")" class="bottomm" />
</div>
<p class="TEXT-B">
    BECOME THE BEAST OF YOUR OWN
</p>

<div class="text-center">
    <a class="btn btn-primary" title="You will go to HOME" href="@Url.Action("Dashboard","Account")">Return Back</a>
    </div>
    <br>
    <p class="TEXT-A">
        Copyright © 2024 ~ GYM CAFE (PTY) LTD
    </p>
    <hr>
    </body>
